# =================================================================
# CHAOS KNIGHTS - BACKEND ENVIRONMENT VARIABLES TEMPLATE
# =================================================================

# Cổng chạy ứng dụng Backend Express (Mặc định: 5000)
PORT=5000

# Chuỗi kết nối Database (Thay đổi thông tin cho phù hợp với cụm CockroachDB của bạn)
# Định dạng chuẩn: postgresql://<user>:<password>@<host>:<port>/<database_name>?sslmode=disable
DATABASE_URL=postgresql://root@localhost:26257/defaultdb?sslmode=disable

VITE_BACKEND_URL= Sau khi mở cổng Backend bằng lệnh minikube service backend-service --url, hãy sao chép URL được cung cấp và dán vào đây. Ví dụ: http://